{% if content is defined %}
  {% set uid = "lv-e" ~ count ~ '-' ~ content.uid|slice(30) %}

  {# Values from Styilized Content #}
  {% set default = {
    header: (content.header) ?? null,
    subHeader: (content.subHeader) ?? null,
    text: (content.text) ?? null,
    button: (content.button) ?? null,
    image: (content.image) ?? null
  } %}

  {# Values from Card via collection #}
  {% if content.card is defined and content.card | length %}
    {% set card = content.card.one() %}

    {% set default = {
      header: (card.defaultHeader) ?? null,
      subHeader: (card.defaultSubHeader) ?? null,
      text: (card.defaultText) ?? null,
      image: (card.defaultBackgroundImage) ?? null,
      button: content.getUrl()
    } %}
  {% endif %}

  <div class="boxed-full clickable:card">
    <div class="boxed-full__content">
			<h3 class="boxed-full__header">{{ default.header }}</h3>
			<h4 class="boxed-full__sub-header">{{ default.subHeader }}</h4>
			<div class="boxed-full__text">{{ default.text }}</div>

      <a href="{{ content.getUrl() }}" class="boxed-full__button button clickable:main">Learn More</a>
		</div>

    <div class="boxed-full__image">
      {% include '/partials/_image' ignore missing with {
        image: default.image,
        attributes: {
          class: [
            'boxed-full__asset',
          ]
        }
      } only %}
		</div>
  </div>

   {% if card is defined and card is not null%}
      {% set colors = card.defaultBackgroundColor.color[0] %}
      <script type="text/javascript">
        (() => {
          const element = document.querySelector('#{{ uid }}');
          element.style.setProperty("--background-color", "{{ colors.background }}");
          element.style.setProperty("--text-color", "{{ colors.text }}");
          element.style.setProperty("--text-hover-color", "{{ colors.background }}");
        })();
      </script>
    {% endif %}
{% endif %}
